Source: repo
Section: misc
Priority: optional
Maintainer: Alon Swartz <alon@turnkeylinux.org>
Build-Depends: pyproject-common
Standards-Version: 3.6.1

Package: repo
Architecture: any
Depends: pyproject-common, turnkey-pylib, apt-utils
Recommends: gnupg
Suggests: python-profiler
Description: Tools to index and create a Debian package repository

